h1{
    background: #686767;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}
p{
    color:blue;
}

.pixel{
    color:red;
}
.up{
    background-color:greenyellow;
    margin: 2px;
}
.borrar{
    background-color:royalblue;
    margin: 2px;
}
.down{
    background-color:lightblue;
    margin: 2px;
}

/* Los identificadores de las clases class = a lo que sea en css se pone .idenificador
para darle un estilo*/